<div class="merchant-container"><div class="quick-cart-container">
<div>
    <img src="https://png.pngtree.com/png-vector/20240626/ourmid/pngtree-shopping-paper-bag-full-of-groceries-png-image_12860073.png" alt="">
</div>
    
<div class="merchant-info">
    <h1>
 Become a Quick Cart <br> <span>Merchant today</span> .
    </h1>

    <p>Reduce post harvest loss and increase your sales<br> by selling your products on Quick Cart.</p>
</div>
    <!-- <div class="quick-cart-content">
      <h1>Become a Quick Cart <br> <span>Merchant today.</span></h1>
      <p>
        Reduce post-harvest loss and increase your sales by <br>
        selling your products on Quick Cart.
      </p>
    </div> -->
    <div class="quick-cart-images">
      <img src="https://assets-global.website-files.com/5d7f647dbda9c6ec4ecf6d36/5f291feca9d7b06d51c879d1_veg%20delivery%20app.png" class="image-bounce">
     
    </div>
  </div></div>


  