

<div class="container-fluid pt-3 pb-3" style="background-color: #eaeded;">
    <div class="container pt-1 pb-1">
      <div class="slide-header">
        <h3>Dry Foods</h3>
      </div>
      <div class="row owl-carousel owl-theme" #owlCarousel3>
        <div class="col" *ngFor="let dairy of dairys" (click)="goToCart(dairy)" style="cursor: pointer;">
          <div class="image">
            <img [src]="dairy.imageUrl" [alt]="dairy.name" />
          </div>
          <div class="content">
            <p>{{ dairy.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

