<div class="container-fluid navigatorContainer">
  <form [formGroup]="checkoutForm" (ngSubmit)="placeOrder()">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-6">
        <div style="border: 1px solid rgb(189, 189, 189); padding: 45px 25px; border-radius: 5px;">
          <div class="card form" style="border: none">
            <h5 class="card-header" style="background-color: #28a745; color: #fff">
              Customer details
            </h5>
            <div class="card-body pt-4">
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="label" for="firstName">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    formControlName="firstName"
                    placeholder="First name"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label class="label" for="lastName">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    formControlName="lastName"
                    placeholder="Last name"
                  />
                </div>
              </div>
              <div class="row pt-4">
                <div class="form-group col-md-6">
                  <label class="label" for="phone">Phone</label>
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    formControlName="phone"
                    placeholder="Phone number"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label class="label" for="email">Email address</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    formControlName="email"
                    placeholder="Email address"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="card shipping_form" style="border: none; outline: none">
            <h5 class="card-header" style="background-color: #28a745; color: #fff">
              Delivery details
            </h5>
            <div class="card-body pt-4">
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="label" for="address">Street address</label>
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    formControlName="address"
                    placeholder="Street address"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label class="label" for="building">Building, Apartment, or House No.</label>
                  <input
                    type="text"
                    class="form-control"
                    id="building"
                    formControlName="building"
                    placeholder="Building, Apartment, or House No."
                  />
                </div>
              </div>
              <div class="row pt-4">
                <div class="form-group col-md-6">
                  <label class="label" for="city">Town, or City</label>
                  <input
                    type="text"
                    class="form-control"
                    id="city"
                    formControlName="city"
                    placeholder="Town, or City"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label class="label" for="county">County</label>
                  <input
                    type="text"
                    class="form-control"
                    id="county"
                    formControlName="county"
                    placeholder="County"
                  />
                </div>
                <div class="form-group col-md-12 pt-4">
                  <label class="label" for="instructions">Delivery instructions</label>
                  <textarea
                    class="form-control"
                    id="instructions"
                    formControlName="instructions"
                    rows="5"
                    placeholder="Delivery instructions"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div style="border: 1px solid gray; padding: 45px 25px; border-radius: 5px">
          <div class="card form" style="border: none; outline: none">
            <h5 class="card-header" style="background-color: #28a745; color: #fff">
              Your Order
            </h5>
            <div class="card-body pt-4">
              <div class="checkoutItem" *ngFor="let item of cartItems">
                <div class="itemDetails">
                  <p>{{ item.name }}</p>
                  <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus" style="transform: rotate(45deg)">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M12 5l0 14" />
                      <path d="M5 12l14 0" />
                    </svg>
                  </p>
                  <p>{{item.quantity}}</p>
                </div>
                <p class="price"> KShs {{ calculateSubtotal(item.price, item.quantity) | number : "1.2-2" }}</p>
              </div>
              <div class="subtotal">
                <p>Subtotal</p>
                <p>KShs {{ subtotal }}</p>
              </div>
            </div>
          </div>
          <div class="card shipping_form" style="border: none; outline: none">
            <h5 class="card-header" style="background-color: #28a745; color: #fff">
              Select payment method
            </h5>
            <div class="card-body">
              <div class="form-check">
                <input
                  class="form-check-input custom-radio"
                  type="radio"
                  formControlName="paymentMethod"
                  id="mpesa"
                  value="mpesa"
                />
                <label class="form-check-label" for="mpesa"> M-PESA </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input custom-radio"
                  type="radio"
                  formControlName="paymentMethod"
                  id="pesapal"
                  value="pesapal"
                />
                <label class="form-check-label" for="pesapal">Pesapal (Credit Card Payments)</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input custom-radio"
                  type="radio"
                  formControlName="paymentMethod"
                  id="helapay"
                  value="helapay"
                />
                <label class="form-check-label" for="helapay"> HelaPay </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input custom-radio"
                  type="radio"
                  formControlName="paymentMethod"
                  id="cash"
                  value="cash"
                />
                <label class="form-check-label" for="cash"> Cash on delivery </label>
              </div>
              <div class="pt-4">
                <button
                  type="submit"
                  class="placeOrderBtn w-100 mw-100"
                >
                  Place order
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
