.tableContainer{
    padding: 49px 20px;
}



active > .page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #FF8084 !important;
    border-color: #FF8084 !important;
}