<div class="container mainContainer">
  <div class="card" style="width: 100%">
    <div class="card-body">
      <h3>Hello, John</h3>
      <p>
        Thank you for shopping with us. Your order 8798772982 has been confirmed
        successfully. It will be packed and shipped as soon as possible.
      </p>
      <hr />
      <p style="font-weight: bold;">Order Details</p>
      <p>Order #hhhk9j</p>
      <p>Placed on Friday, Sept 13, 2024</p>
      <hr />
      <div class="items">
        <div class="item card-text">
          <p style="font-weight: bold;">Billing Address</p>
          <p>John Doe</p>
          <p>Sunton, Kasarani, Nairobi, Kenya</p>
        </div>
        <div class="item">
          <p style="font-weight: bold;">Items Ordered</p>
          <p>FNF MoD & Music Battle Friday funkin</p>
          <p>Sold By: Amazon Appstore</p>
          <p>Qty: 1</p>
        </div>
        <div class="item">
          <p style="font-weight: bold;">Item(s) Subtotal</p>
          <p>Total Before Tax: $0.00</p>
          <p>Tax Collected: $0.00</p>
          <p>Grand Total: $0.00</p>
        </div>
      </div>
    </div>
  </div>
</div>
