<div class="container cartContainer">
  <div class="row rowContainer">
    <div class="col-lg-7 col-md-6">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr class="productRow" *ngFor="let item of cartItems">
            <td>
              <div class="product">
                <img
                  [src]="item.image"
                  [alt]="item.name"
                  style="max-width: 100px"
                />
                <div class="price ml-3">
                  <h3 class="mb-0">{{ item.name }}</h3>
                  <p class="mb-0">KShs {{ item.price | number : "1.2-2" }}</p>
                </div>
              </div>
            </td>
            <td>
              <div class="cart-btns">
                <button
                  (click)="updateQuantity(item.productId, item.quantity - 1)"
                  class="remove btn"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-minus"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 12l14 0" />
                  </svg>
                </button>
                <p class="cartItem m-0">{{ item.quantity }}</p>
                <button
                  (click)="updateQuantity(item.productId, item.quantity + 1)"
                  class="add btn"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 5l0 14" />
                    <path d="M5 12l14 0" />
                  </svg>
                </button>
              </div>
            </td>
            <td class="subtotal align-middle">
              KShs
              {{
                calculateSubtotal(item.price, item.quantity) | number : "1.2-2"
              }}
            </td>
            <td class="align-middle">
              <button
                type="button"
                class="btn-close delete"
                (click)="removeProduct(item.productId)"
                aria-label="Close"
              ></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4 col-md-6 cart-totals">
      <h4>Cart totals</h4>
      <div class="total-info">
        <p>Subtotal - {{totalQuantity}} items</p>
        <p>KShs {{ subtotal }}</p>
      </div>
    </div>
  </div>
  <button class="tocheckoutBtn" (click)="toCheckout()">
    Proceed To Checkout
  </button>
 <div class="shop">
   <p>Or</p>
  <a routerLink="/">Continue shopping on Grocery App</a>
 </div>
</div>
