
<div class="container-fluid pt-3 pb-3" style="background-color: #eaeded;">
    <div class="container pt-1 pb-1">
      <div class="slide-header">
        <h3>Animal Products</h3>
      </div>
      <div class="row owl-carousel owl-theme" #owlCarousel3>
        <div class="col" *ngFor="let meat of meats" (click)="goToCart(meat)"
        style="cursor: pointer;" >
          <div class="image">
            <img [src]="meat.imageUrl" [alt]="meat.name" />
          </div>
          <div class="content">
            <p>{{ meat.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
