<!-- <div class="mainNav">
  <ul>
    <li (click)="setActive('home')" [class.active-item]="activeTab === 'home'" class="default-item" routerLink="/">Home</li>
    <li (click)="setActive('shop')" [class.active-item]="activeTab === 'shop'" class="default-item" routerLink="/shop">Shop</li>
    <li (click)="setActive('about')" [class.active-item]="activeTab === 'about'" class="default-item"><a routerLink="/about">About</a></li>
    <li (click)="setActive('faqs')" [class.active-item]="activeTab === 'faqs'" class="default-item"><a routerLink="/faqs">FAQs</a></li>
    <li (click)="setActive('blog')" [class.active-item]="activeTab === 'blog'" class="default-item"><a routerLink="/blog">Blog</a></li>
    <li (click)="setActive('merchants')" [class.active-item]="activeTab === 'merchants'" class="default-item"><a routerLink="/merchants">Merchants</a></li>
    <li (click)="setActive('contact')" [class.active-item]="activeTab === 'contact'" class="default-item"><a routerLink="/contact">Contact</a></li>
  </ul>
</div> -->
<div class="container-fluid locationBtnContainer">
  <p> <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-map-pins"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.828 9.828a4 4 0 1 0 -5.656 0l2.828 2.829l2.828 -2.829z" /><path d="M8 7l0 .01" /><path d="M18.828 17.828a4 4 0 1 0 -5.656 0l2.828 2.829l2.828 -2.829z" /><path d="M16 15l0 .01" /></svg>No delivery location is currently set</p>
       <p class="setLocationModal"> <button type="button" class="locationBtn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M12.794 21.322a2 2 0 0 1 -2.207 -.422l-4.244 -4.243a8 8 0 1 1 13.59 -4.616" /><path d="M16 19h6" /><path d="M19 16v6" /></svg>Set Location</button></p>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
</div>
<nav class="navbar navbar-light bg-light container-fluid middleNavContainer" style="border: 1px solid #ddd">
 
    <div class="left">
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon icon-tabler icons-tabler-filled icon-tabler-phone"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M9 3a1 1 0 0 1 .877 .519l.051 .11l2 5a1 1 0 0 1 -.313 1.16l-.1 .068l-1.674 1.004l.063 .103a10 10 0 0 0 3.132 3.132l.102 .062l1.005 -1.672a1 1 0 0 1 1.113 -.453l.115 .039l5 2a1 1 0 0 1 .622 .807l.007 .121v4c0 1.657 -1.343 3 -3.06 2.998c-8.579 -.521 -15.418 -7.36 -15.94 -15.998a3 3 0 0 1 2.824 -2.995l.176 -.005h4z"
          />
        </svg>
        call us: 0705356899
      </p>
    </div>
    <div class="middle">
      <select class="form-select area-select" aria-label="Default select example">
  <option selected>Supported Areas</option>
  <option value="1">Kilimani - Nairobi</option>
  <option value="2">Airport - 401</option>
  <option value="3">CBD - Nairobi</option>

  <option value="1">Kilimani - Nairobi</option>
  <option value="2">Airport - 401</option>
  <option value="3">CBD - Nairobi</option>
</select>
  <input type="text" class="form-control" placeholder="Search products in our inventory" aria-label="Username" aria-describedby="addon-wrapping">


    </div>
    <div class="right">
      <p >
 
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon icon-tabler icons-tabler-filled icon-tabler-user"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
          <path
            d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z"
          />
        </svg>
        Login/Signup
      </p>
      <p class="cartIcon">
               <span>0</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon icon-tabler icons-tabler-filled icon-tabler-shopping-cart"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M6 2a1 1 0 0 1 .993 .883l.007 .117v1.068l13.071 .935a1 1 0 0 1 .929 1.024l-.01 .114l-1 7a1 1 0 0 1 -.877 .853l-.113 .006h-12v2h10a3 3 0 1 1 -2.995 3.176l-.005 -.176l.005 -.176c.017 -.288 .074 -.564 .166 -.824h-5.342a3 3 0 1 1 -5.824 1.176l-.005 -.176l.005 -.176a3.002 3.002 0 0 1 1.995 -2.654v-12.17h-1a1 1 0 0 1 -.993 -.883l-.007 -.117a1 1 0 0 1 .883 -.993l.117 -.007h2zm0 16a1 1 0 1 0 0 2a1 1 0 0 0 0 -2zm11 0a1 1 0 1 0 0 2a1 1 0 0 0 0 -2z"
          />
        </svg>
      </p>
    </div>
  
</nav>
<nav class="navbar navbar-expand-sm navbar-light navContainer">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="https://image-prod-qcsb-image-service.azurewebsites.net/Images/QC/3d76145a527e4db3a05c1e3ddd351994.png"
        alt=""
        height="40px"
        width="80px"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Merchants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>