<div class="container-fluid pt-3 pb-3" style="background-color: #eaeded">
  <div class="container pt-1 pb-1">
    <div class="slide-header">
      <h3>Fresh Fruit</h3>
    </div>
    <div class="row owl-carousel owl-theme" #owlCarousel2>
      <div class="col">
        <div class="image">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/81HZUsK9dRL.AC_SL240_.jpg"
            alt="Lime"
          />
        </div>
        <div class="content">
          <p>Lime</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/81knc9-4RHL.AC_SL240_.jpg"
            alt="Organic Strawberries"
          />
        </div>
        <div class="content">
          <p>Organic Strawberries</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/71PxRvQMaoL.AC_SL240_.jpg"
            alt="Honeycrisp Apple"
          />
        </div>
        <div class="content">
          <p>Honeycrisp Apple</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/71ohLOFjl0L.AC_SL240_.jpg"
            alt="Navel Orange"
          />
        </div>
        <div class="content">
          <p>Navel Orange</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/818aDbVU3xL.AC_SL240_.jpg"
            alt="Mini Seedless Watermelon"
          />
        </div>
        <div class="content">
          <p>Mini Seedless Watermelon</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/71rpY2GtFHL.AC_SL240_.jpg"
            alt="Asparagus Green"
          />
        </div>
        <div class="content">
          <p>Asparagus Green</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/81LKLCmdAQL.AC_SL240_.jpg"
            alt="Medium Hass Avocado"
          />
        </div>
        <div class="content">
          <p>Medium Hass Avocado</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSP7gbmcXF7ZV88S4eU-1LepaJ4rTQmsZ1kw&s"
            alt="Banana"
          />
        </div>
        <div class="content">
          <p>Banana</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://thumbs.dreamstime.com/b/blue-wet-grapes-bunch-white-background-isabella-as-package-design-element-45127219.jpg"
            alt="Grapes"
          />
        </div>
        <div class="content">
          <p>Grapes</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://cdn.mafrservices.com/sys-master-root/hcf/h11/26449347117086/82063_main.jpg?im=Resize=480"
            alt="Pineapple"
          />
        </div>
        <div class="content">
          <p>Pineapple</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://img.imageboss.me/fourwinds/width/425/dpr:2/shop/products/shutterstock_722035450blueberry2.jpg?v=1531795809"
            alt="Blueberries"
          />
        </div>
        <div class="content">
          <p>Blueberries</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://cdn.britannica.com/45/126445-050-4C0FA9F6/Kiwi-fruit.jpg"
            alt="Kiwi"
          />
        </div>
        <div class="content">
          <p>Kiwi</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTA1WW9MRNfcqdUhcfXSLYA-k0XbGXrdv21g&s"
            alt="Mango"
          />
        </div>
        <div class="content">
          <p>Mango</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://oxfarm.co.ke/wp-content/uploads/2019/08/pomegaranate-fruit.jpg"
            alt="Pomegranate"
          />
        </div>
        <div class="content">
          <p>Pomegranate</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://media.istockphoto.com/id/1137630158/photo/single-peach-fruit-with-leaf-isolated-on-white.jpg?s=612x612&w=0&k=20&c=V8OmiANLcA-hGHcyK6QkXRhXvpnUiAcXo6uKnbwTtQ8="
            alt="Peach"
          />
        </div>
        <div class="content">
          <p>Peach</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSW79pr3eZxbsTksrwUtjg432t4DDrTav6SqA&s"
            alt="Apricot"
          />
        </div>
        <div class="content">
          <p>Apricot</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://www.collinsdictionary.com/images/full/plum_119083816.jpg"
            alt="Plum"
          />
        </div>
        <div class="content">
          <p>Plum</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-VdaMj3CxPmPHLiUa6Xj6XIvHGZLlsiqxkA&s"
            alt="Papaya"
          />
        </div>
        <div class="content">
          <p>Papaya</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmtTxLjEFaBEx5NwTebuo1J0BC0SRqe5KKGA&s"
            alt="Coconut"
          />
        </div>
        <div class="content">
          <p>Coconut</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://cdn.britannica.com/18/176518-050-5AB1E61D/lychee-fruits-Southeast-Asia.jpg"
            alt="Lychee"
          />
        </div>
        <div class="content">
          <p>Lychee</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://static.libertyprim.com/files/familles/fruit_de_la_passion-large.jpg?1569271767"
            alt="Passion Fruit"
          />
        </div>
        <div class="content">
          <p>Passion Fruit</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://5.imimg.com/data5/YX/TO/MY-42415278/fresh-fig-fruit-500x500.jpg"
            alt="Fig"
          />
        </div>
        <div class="content">
          <p>Fig</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0kfyozbZDBe2Z5GhEnOUKs7VY9i4Yjh4tuw&s"
            alt="Blackberries"
          />
        </div>
        <div class="content">
          <p>Blackberries</p>
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img
            src="https://static.libertyprim.com/files/familles/cerise-large.jpg?1569271737"
            alt="Cherries"
          />
        </div>
        <div class="content">
          <p>Cherries</p>
        </div>
      </div>
    </div>
  </div>
</div>
