<div class="container-fluid pt-3 pb-3" style="background-color: #eaeded;">
  <div class="container pt-1 pb-1">
    <div class="slide-header">
    <h3>Fresh Fruit</h3>
  </div>
  <div class="row owl-carousel owl-theme" #owlCarousel2>
    <div class="col">
      <div class="image">
        <img
          src="https://images-na.ssl-images-amazon.com/images/I/81HZUsK9dRL.AC_SL240_.jpg"
          alt=""
        />
      </div>
      <div class="content">
        <p>Lime</p>
      </div>
    </div>
    <div class="col">
      <div class="image">
        <img
          src="https://images-na.ssl-images-amazon.com/images/I/81knc9-4RHL.AC_SL240_.jpg"
          alt=""
        />
      </div>
      <div class="content">
        <p>Organic Strawberries</p>
      </div>
    </div>
    <div class="col">
      <div class="image">
        <img
          src="https://images-na.ssl-images-amazon.com/images/I/71PxRvQMaoL.AC_SL240_.jpg"
          alt=""
        />
      </div>
      <div class="content">
        <p>Honeycrisp Apple</p>
      </div>
    </div>
    <div class="col">
      <div class="image">
        <img
          src="https://images-na.ssl-images-amazon.com/images/I/71ohLOFjl0L.AC_SL240_.jpg"
          alt=""
        />
      </div>
      <div class="content">
        <p>Navel Orange</p>
      </div>
    </div>
    <div class="col">
      <div class="image">
        <img
          src="https://images-na.ssl-images-amazon.com/images/I/818aDbVU3xL.AC_SL240_.jpg"
          alt=""
        />
      </div>
      <div class="content">
        <p>Mini Seedless Watermelon</p>
      </div>
    </div>
    <div class="col">
      <div class="image">
        <img
          src="https://images-na.ssl-images-amazon.com/images/I/71rpY2GtFHL.AC_SL240_.jpg"
          alt=""
        />
      </div>
      <div class="content">
        <p>Asparagus Green</p>
      </div>
    </div>
    <div class="col">
      <div class="image">
        <img
          src="https://images-na.ssl-images-amazon.com/images/I/81LKLCmdAQL.AC_SL240_.jpg"
          alt=""
        />
      </div>
      <div class="content">
        <p>Medium Hass Avocado</p>
      </div>
    </div>
  </div>
  </div>
</div>
