<div class="container-fluid pt-3 pb-3" style="background-color: #eaeded;">
  <div class="container pt-1 pb-1">
    <div class="slide-header">
      <h3>Spices</h3>
    </div>
    <div class="row owl-carousel owl-theme" #owlCarousel3>
      <div class="col" *ngFor="let spice of spices"
           (click)="goToCart(spice)"
           style="cursor: pointer;">
        <div class="image">
          <img [src]="spice.imageUrl" [alt]="spice.name" />
        </div>
        <div class="content">
          <p>{{ spice.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
