<div class="contact-container">
  <h2>Contact Us</h2>
  <div class="contact-content">
    <div class="contact-info">
      <h3>Get In Touch</h3>

      <div class="container1">
        <p><strong>📍 Address :</strong><br />QUICK-CART, ICD Rd, Nairobi</p>
      </div>
      <div class="container2">
        <p><strong>📞 Phone :</strong> <br />0705356899</p>
      </div>
      <div class="container3">
        <p>
          <strong>📱 Mobile :</strong> <br />
          0705356899
        </p>
      </div>
      <div class="container4">
        <p>
          <strong>✉️ Email :</strong>
          <a href="mailto:support@quickcart.co.ke">
            <br />
            support&#64;quickcart.co.ke</a
          >
        </p>
      </div>
      <div class="container5">
        <p>
          <strong>🌐 Website :</strong>
          <a href="https://quickcartafrica.com" target="_blank">
            <br />
            https://quickcartafrica.com</a
          >
        </p>
      </div>
    </div>
    <div class="map-container">
      <div id="map"></div>
    </div>
  </div>
</div>
