<div class="container">
  <div class="row my-5">
    <h1 class="text-center">Featured Products</h1>
  </div>

  <div class="row g-4 my-5 mx-auto owl-carousel owl-theme" #owlCarousel>
    <div class="col product-item mx-auto">
      <div class="product-img">
        <div class="imgWrapper">
          <img
            src="{{ products[0].productImage }}"
            alt=""
            class="img-fluid d-block mx-auto"
          />
        </div>
        <span class="heart-icon">
          <i class="far fa-heart"></i>
        </span>
      </div>

      <div class="product-info p-3">
        <span class="product-type">{{ products[0].productCategory }}</span>
        <a
          href="#"
          class="d-block text-dark text-decoration-none py-2 product-name"
          >{{ products[0].productName }}</a
        >
        <span class="product-price">$ {{ products[0].productPrice }}</span>

        <div class="cart-btns text-center">
          <p class="add">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
          </p>
          <p class="cartItem">1</p>
          <p class="remove">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-minus"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
            </svg>
          </p>
          <p class="addToCardBtn">
            <button>Add to cart</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col product-item mx-auto">
      <div class="product-img">
        <div class="imgWrapper">
          <img
            src="{{ products[1].productImage }}"
            alt=""
            class="img-fluid d-block mx-auto"
          />
        </div>
        <span class="heart-icon">
          <i class="far fa-heart"></i>
        </span>
      </div>

      <div class="product-info p-3">
        <span class="product-type">{{ products[1].productCategory }}</span>
        <a
          href="#"
          class="d-block text-dark text-decoration-none py-2 product-name"
          >{{ products[1].productName }}</a
        >
        <span class="product-price">$ {{ products[1].productPrice }}</span>
        <div class="cart-btns text-center">
          <p class="add">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
          </p>
          <p class="cartItem">1</p>
          <p class="remove">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-minus"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
            </svg>
          </p>
          <p class="addToCardBtn">
            <button>Add to cart</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col product-item mx-auto">
      <div class="product-img">
        <div class="imgWrapper">
          <img
            src="{{ products[2].productImage }}"
            alt=""
            class="img-fluid d-block mx-auto"
          />
        </div>
        <span class="heart-icon">
          <i class="far fa-heart"></i>
        </span>
      </div>

      <div class="product-info p-3">
        <span class="product-type">{{ products[2].productCategory }}</span>
        <a
          href="#"
          class="d-block text-dark text-decoration-none py-2 product-name"
          >{{ products[2].productName }}</a
        >
        <span class="product-price">$ {{ products[2].productPrice }}</span>
     <div class="cart-btns text-center">
          <p class="add">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
          </p>
          <p class="cartItem">1</p>
          <p class="remove">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-minus"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
            </svg>
          </p>
          <p class="addToCardBtn">
            <button>Add to cart</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col product-item mx-auto">
      <div class="product-img">
        <div class="imgWrapper">
          <img
            src="{{ products[3].productImage }}"
            alt=""
            class="img-fluid d-block mx-auto"
          />
        </div>
        <span class="heart-icon">
          <i class="far fa-heart"></i>
        </span>
      </div>

      <div class="product-info p-3">
        <span class="product-type">{{ products[3].productCategory }}</span>
        <a
          href="#"
          class="d-block text-dark text-decoration-none py-2 product-name"
          >{{ products[3].productName }}</a
        >
        <span class="product-price">$ {{ products[3].productPrice }}</span>
         <div class="cart-btns text-center">
          <p class="add">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
          </p>
          <p class="cartItem">1</p>
          <p class="remove">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-minus"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
            </svg>
          </p>
          <p class="addToCardBtn">
            <button>Add to cart</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col product-item mx-auto">
      <div class="product-img">
        <div class="imgWrapper">
          <img
            src="{{ products[4].productImage }}"
            alt=""
            class="img-fluid d-block mx-auto"
          />
        </div>
        <span class="heart-icon">
          <i class="far fa-heart"></i>
        </span>
      </div>

      <div class="product-info p-3">
        <span class="product-type">{{ products[4].productCategory }}</span>
        <a
          href="#"
          class="d-block text-dark text-decoration-none py-2 product-name"
          >{{ products[4].productName }}</a
        >
        <span class="product-price">$ {{ products[4].productPrice }}</span>
         <div class="cart-btns text-center">
          <p class="add">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
          </p>
          <p class="cartItem">1</p>
          <p class="remove">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-minus"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
            </svg>
          </p>
          <p class="addToCardBtn">
            <button>Add to cart</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col product-item mx-auto">
      <div class="product-img">
        <div class="imgWrapper">
          <img
            src="{{ products[5].productImage }}"
            alt=""
            class="img-fluid d-block mx-auto"
          />
        </div>
        <span class="heart-icon">
          <i class="far fa-heart"></i>
        </span>
      </div>

      <div class="product-info p-3">
        <span class="product-type">{{ products[5].productCategory }}</span>
        <a
          href="#"
          class="d-block text-dark text-decoration-none py-2 product-name"
          >{{ products[5].productName }}</a
        >
        <span class="product-price">$ {{ products[5].productPrice }}</span>
         <div class="cart-btns text-center">
          <p class="add">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
          </p>
          <p class="cartItem">1</p>
          <p class="remove">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-minus"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
            </svg>
          </p>
          <p class="addToCardBtn">
            <button>Add to cart</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col product-item mx-auto">
      <div class="product-img">
        <div class="imgWrapper">
          <img
            src="{{ products[6].productImage }}"
            alt=""
            class="img-fluid d-block mx-auto"
          />
        </div>
        <span class="heart-icon">
          <i class="far fa-heart"></i>
        </span>
      </div>

      <div class="product-info p-3">
        <span class="product-type">{{ products[6].productCategory }}</span>
        <a
          href="#"
          class="d-block text-dark text-decoration-none py-2 product-name"
          >{{ products[6].productName }}</a
        >
        <span class="product-price">$ {{ products[6].productPrice }}</span>

          <div class="cart-btns text-center">
          <p class="add">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
          </p>
          <p class="cartItem">1</p>
          <p class="remove">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-minus"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
            </svg>
          </p>
          <p class="addToCardBtn">
            <button>Add to cart</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 60px">
  <app-vegetable></app-vegetable>
  <app-fruit></app-fruit>
</div>
