<div class="cart-container">
  <div class="header-container">
    <h2>We are Pleased to Serve you</h2>
  </div>

  <div *ngIf="selectedItem">
    <div class="mini-container">
      <div class="image">
        <img [src]="selectedItem.image" [alt]="selectedItem.name" />
      </div>
      <div class="info">
        <div class="product-info">
          <h2>{{ selectedItem.name }}</h2>

          <p class="price">
            Price per unit: KES {{ selectedItem.price || 'N/A' }}.00
          </p>
          <p class="total-price">
            Total Price: KES {{ getTotalPrice() || 'N/A' }}.00
          </p>
          
          <div class="quantity-control">
            <button
              (click)="decreaseQuantity()"
              style="background-color: rgb(247, 67, 67)"
            >
              -
            </button>
            <input type="text" [value]="quantity" readonly />
            <button
              (click)="increaseQuantity()"
              style="background-color: rgb(135, 255, 111)"
            >
              +
            </button>
          </div>

          <p class="description">Product Description</p>
          <p>{{ selectedItem.description }}</p>

          <p class="availability">
            Availability:
            <span
              [ngClass]="{
                'in-stock': selectedItem.stock,
                'out-of-stock': !selectedItem.stock
              }"
            >
              {{ selectedItem.stock ? "In Stock" : "Out of Stock" }}
            </span>
          </p>
        </div>

        <div class="additional-info">
          <div class="info-item">
            <i class="fa fa-truck"></i>
            <p>Free Delivery</p>
            <p>We offer free delivery on orders within covered areas.</p>
          </div>
          <div class="info-item">
            <i class="fa fa-check-circle"></i>
            <p>100% Freshness Guarantee</p>
            <p>We simply deliver the best.</p>
          </div>
        </div>
        <button type="button" class="add-to-cart" (click)="addToCart(selectedItem)">ADD TO CART</button>
      </div>
    </div>
  </div>
</div>
